<nav class="navbar navbar-expand navbar-light my-head">
    <div class="container-fluid">
          <ul class="myul">
            <li class="nav-item">
              <a class="nav-link" href="/seats">
                  <div class="icon icon-chair"></div>
                  <br>
                  空位查詢
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editOrder">
                    <div class="icon icon-order"></div>
                    <br>
                    點餐紀錄
                </a>
            </li>
          </ul>
        <a class="title" href="/">
            <img src="/images/icon.png" alt="" width="200px">
            <br>
            just friend
        </a>
        <ul class="myul">
            <li class="nav-item">
              <a class="nav-link" href="/sign/edit">
                  <div class="icon icon-login"></div>
                  <br>
                  <%= name %> 
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign/logout">
                    <div class="icon icon-logout"></div>
                    <br>
                    登出
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="wrapper">
    <div class="content">
        <div style="height: 120px;"></div>